{% extends "layout.html" %}

{% block title %}
    Channels
{% endblock %}

{% block nav %}
    Select a channel
{% endblock %}

{% block link %}
    <script src="{{ url_for('static', filename='channels.js') }}"></script>
{% endblock %}

{% block body %}

    <form id="form">
        <input id="name" autocomplete="off" placeholder="Name" type="text">
        <input type="submit" value="Create Channel">
    </form>

    <div class="container">
        <div id="channels" class="list-group">
            {% for channel in channels.values() %}
                <a href="{{ url_for('channel', channelName=channel.name) }}" class="list-group-item list-group-item-action">
                    {{ channel.name }}
                </a>
            {% endfor %}
        </div>
    </div>

    <div id="container">
        <i id="add" class="fas fa-plus"></i>
    </div>
{% endblock %}
