{% extends "layout.html" %}

{% block title %}
    {{ channel }}
{% endblock %}

{% block nav %}
    {{ channel }}
{% endblock %}

{% block link %}
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

{% block body %}
    <div id=chat-window class="chat">
    </div>

    <div id=chat-input class="chat">
      <div class="input-group mb-3">
        <input id="message" class="form-control" type="text" placeholder="Message">
        <div class="input-group-append">
          <button id="send" class="btn btn-outline-secondary" type="button">Send</button>
        </div>
      </div>
    </div>
{% endblock %}
